---
import { getLocalizedPaths } from "@/i18n";
import BaseLayout from "@/layouts/BaseLayout.astro";
import type { GetStaticPaths, InferGetStaticParamsType, InferGetStaticPropsType } from "astro";
import { getCollection } from "astro:content";

export const getStaticPaths = (async() => {
  const entries = await getCollection("forecast")
  const paths = entries.flatMap(() => {
    return getLocalizedPaths("yield", (item) => {
      item.props.entries = entries
      return item
    })
  })
  return paths
}) satisfies GetStaticPaths;

type Params = InferGetStaticParamsType<typeof getStaticPaths>
type Props = InferGetStaticPropsType<typeof getStaticPaths>

const { getUrl } = Astro.locals
const { entries } = Astro.props
---

<BaseLayout>
  <ol>
  { entries.map(entry => (
    <li>
      <a href={getUrl("yield/forecast/") + entry.data.forecast_date}>{ entry.data.forecast_date }</a>
    </li>
  ))}
  </ol>
</BaseLayout>