---
import { getLocalizedPaths } from "@/i18n";
import type { GetStaticPaths } from "astro";
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";
import BaseLayout from "@/layouts/BaseLayout.astro";

interface Props {
  entries: CollectionEntry<"forecast">[]
}

export const getStaticPaths = (async () => {
  const entries = await getCollection("forecast")

  return getLocalizedPaths("yield/forecast", (item) => {
    item.props.entries = entries
    return item
  })
}) satisfies GetStaticPaths;

const { entries } = Astro.props
const { getUrl } = Astro.locals

---
<BaseLayout>
  Forecast index page: { Astro.currentLocale }

  <ol>
  { entries.map(entry => (
    <li>
      <a href={getUrl("yield/forecast/") + entry.data.forecast_date}>{ entry.data.forecast_date }</a>
    </li>
  ))}
  </ol>
</BaseLayout>
