---
import { getLocalizedPaths, useI18n } from "@/i18n";
import type { GetStaticPaths } from "astro";
import BaseLayout from "@/layouts/BaseLayout.astro"

export const getStaticPaths = (() => getLocalizedPaths("company")) satisfies GetStaticPaths;

const { t } = useI18n(Astro.currentLocale)
const { getUrl } = Astro.locals
---
<BaseLayout {...Astro.props}>
  <header class="py-[2em] bg-[#B9E5FB]">
    <h1 class="">{ t("company.tagline") }</h1>
    <p class="max-w-[72ch]">{ t("company.description") }</p>
  </header>
  <section id={t("urls:#products").substring(1)} class="t:my-[4em]" style="scroll-margin-top: 6em;">
    <h2>{ t("products_title_company") }</h2>
    <div class="t:grid t:grid-cols-2 tl:grid-cols-4 gap-8">
      <article class="min-h-[20em] flex flex-col gap-4">
        <img class="w-full aspect-squarerounded-2xl" src="/images/ogor_thumbnail.png" alt="">
        <div class="flex items-center gap-2">
          <img class="size-12 shadow-md rounded-lg" src="/logos/ogor_avatar.png" alt="Logo OGOR">
          <h4 class="m-0 stretch-95">
            <a href={ import.meta.env.PUBLIC_OGOR_APP_LOGIN_URL } class="text-inherit no-underline">OGOR</a>
          </h4>
        </div>
        <p set:html={t("ogor_description_product")} class="m-0 grow" />
        <p class="m-0">
          <span class="font-medium underline">€150/{t("year")}</span>
        </p>
      </article>
      <article class="min-h-[20em] flex flex-col gap-4">
        <img class="w-full aspect-square" src="/images/ogor_yield_thumbnail.png" alt="">
        <div class="flex items-center gap-2">
          <img class="size-12 shadow-md rounded-lg" src="/logos/ogor_yield_avatar.png" alt="">
          <h4 class="m-0 stretch-95">
            <a href={getUrl("/yield")} class="text-inherit no-underline">
              {t("yield.ogorForecast")}
            </a>
          </h4>
        </div>
        <p set:html={t("ogor_yield_description_product")} class="m-0 grow" />
        <p class="m-0">
          <small class="text-muted">{t("starting_from")}:</small><br>
          <span class="font-medium underline">€50/{t("year")}</span>
        </p>
      </article>
      <article class="min-h-[20em] flex flex-col gap-4">
        <img src="/images/ogor_vra_thumbnail.png" alt="" class="w-full aspect-square rounded-2xl">
        <div class="flex items-center gap-2">
          <img class="size-12 shadow-md rounded-lg" src="/logos/ogor_vra_avatar.png" alt="">
          <h4 class="m-0 stretch-95">
            <a href="https://ogor.farm/vra" class="text-inherit no-underline">OGOR VRA</a>
          </h4>
        </div>
        <p set:html={t("ogor_description_product")} class="m-0 grow" />
        <p class="m-0">
          <small class="text-muted">{t("starting_from")}:</small><br>
          <span class="font-medium underline">$6/{t("map")}</span>
        </p>
      </article>
      <article class="min-h-[20em] flex flex-col gap-4">
        <img src="/images/tarla_thumbnail.png" alt="" class="w-full aspect-square rounded-2xl">
        <div class="flex items-center gap-2">
          <img class="size-12 shadow-md rounded-lg" src="/logos/tarla.png" alt="">
          <h4 class="m-0 stretch-95">Tarla</h4>
        </div>
        <p set:html={t("tarla_description_product")}class="m-0 grow" />
        <p class="m-0">
          <span class="font-medium underline">€50/{t("year")}</span>
        </p>
      </article>
    </div>
  </section>
</BaseLayout>

<style>
  header {
    margin-inline: var(--neg-bleed);
    padding-inline: var(--bleed);
  }
  article {
    position: relative;
    & a::before {
      content: "";
      position: absolute;
      inset: -.5em;
      border-radius: 1.25em;
    }
    & a:hover::before,
    & a:focus::before {
      outline: medium dashed #B9E5FB;
    }
  }
</style>
<style is:inline>
  #content {
    padding-inline: var(--bleed);
  }
  footer .about { display: none; }
</style>
