---
import { getLocalizedPaths } from "@/i18n";
import type { GetStaticPaths } from "astro";
import BaseLayout from "@/layouts/BaseLayout.astro"

export const getStaticPaths = (() => getLocalizedPaths("company")) satisfies GetStaticPaths;
---

<BaseLayout>
  <div class="container">
    <section>
      Company
    </section>
  </div>
</BaseLayout>
