---
import { getLocalizedPaths, useI18n } from "@/i18n";
import BaseLayout from "@/layouts/BaseLayout.astro"
import type { GetStaticPaths } from "astro";

const { t } = useI18n(Astro.currentLocale)

export const getStaticPaths = (() => getLocalizedPaths("/")) satisfies GetStaticPaths;
---
<BaseLayout>
  <section id="hero">
    <div class="_media2">
      <img src="/src/images/on-field.jpeg" alt="Ogor on field" style="transform: scaleX(-1);">
    </div>
    <div class="_body" >
      <h1 style="max-width: 30ch;">{ t("home.hero_heading") }</h1>
      <p  style="max-width: 50ch;" set:html={ t("home.hero_description") } class="reading-width-description"/>
    </div>
    <div class="_cta">
      <a href={ import.meta.env.PUBLIC_OGOR_APP_LOGIN_URL } class="flex justify-center items-center" style="height: 100%;">
        <span class="underline">{ t("home.hero_cta") }</span> →
      </a>
    </div>
    <div class="_media1 flex justify-center items-center">
      <img src="/src/images/app-showcase.png" alt="Ogor app showcase">
    </div>
  </section>

  <section id="features" class="features">
    <h2>{ t("home.why_ogor") }</h2>
  
    <section class="feature-1">
      <div class="feature-content flex justify-center flex-column">
        <h3>{ t("home.feature1_heading") }</h3>
        <p>{ t("home.feature1_description") }</p>
      </div>
  
      <div class="_media">
        <img src="https://placehold.co/900x400" alt="feature">
      </div>
    </section>
  
    <section class="feature-2">
      <div class="feature-content flex justify-center flex-column">
        <h3>{ t("home.feature2_heading") }</h3>
        <p>{ t("home.feature2_description") }</p>
      </div>
  
      <div class="_media">
        <img src="https://placehold.co/512" alt="feature">
      </div>
    </section>
  
    <section class="context">
      <p set:html={ t("home.context") }/>
    </section>

    <section class="feature-3">
      <div class="feature-content flex justify-center flex-column">
        <h3>{ t("home.feature3_heading") }</h3>
        <p>{ t("home.feature3_description") }</p>
      </div>
  
      <div class="_media">
        <img src="https://placehold.co/512" alt="feature">
      </div>
    </section>
  
    <section class="feature-4">
      <div class="feature-content flex justify-center flex-column">
        <h3>{ t("home.feature4_heading") }</h3>
        <p>{ t("home.feature4_description") }</p>
      </div>
  
      <div class="_media">
        <img src="https://placehold.co/512" alt="feature">
      </div>
    </section>
  
    <section class="plus">
      <p>Plus:</p>
  
      {[
        { name: t("accumulated_precipitation"), icon: "/src/images/icons/precipitatii.png" },
        { name: t("weather_forecast"), icon: "/src/images/icons/prognoza.png"},
        { name: t("water_capacity"), icon: "/src/images/icons/rezerva.png" },
        { name: t("crop_rotation"), icon: "/src/images/icons/rotatia.png" },
        { name: t("soil_map"), icon: "/src/images/icons/harta_solurilor.png" },
        { name: t("vra"), icon: "/src/images/icons/VRA.png" },
        { name: t("soil_analysis"), icon: "/src/images/icons/analize.png" }
      ].map((f) => (
        <details>
          <summary class="flex items-center">
            <img src={f.icon} alt="312" />
            <p class="flex items-center" set:html={ f.name }/>
          </summary>
        </details>
      ))}
    </section>
  </section>

  

  <section id="testimonials" style="overflow: hidden;">
    <div class="testimonials-inner">
      <h2>{ t("home.testimonials_heading") }</h2>
      <p class="description" set:html={ t("home.testimonials_description") } style="max-width: 65ch"/>
      <div class="carousel-container">
        <div class="carousel flex">
          <div class="card">
            <blockquote>
              <p>"Agricultura de precizie înseamnă în primul rând să știi ce este acolo, în câmp!"</p>
              <cite>
                Alin Oprea
                <br />
                <span style="color: grey">Ing. agronom jud. IF</span>
              </cite>
            </blockquote>
          </div>
          <div class="card">
            <blockquote>
              <p>"Agricultura de precizie înseamnă în primul rând să știi ce este acolo, în câmp!"</p>
              <cite>
                Alin Oprea
                <br />
                <span style="color: grey">Ing. agronom jud. IF</span>
              </cite>
            </blockquote>
          </div>
          <div class="card">
            <blockquote>
              <p>"Agricultura de precizie înseamnă în primul rând să știi ce este acolo, în câmp!"</p>
              <cite>
                Alin Oprea
                <br />
                <span style="color: grey">Ing. agronom jud. IF</span>
              </cite>
            </blockquote>
          </div>
        </div>
        <div class="buttons-container">
          <button class="left">←</button>
          <button class="right">→</button>
        </div>
      </div>
    </div>
  </section>

  <section id="cta">
    <p>
      <strong>{ t("home.got_questions") }</strong>
      { t("home.here_to_help") }
    </p>
    <p>
      <a href="tel:+40754347347" class="btn btn-text rounded">
        <svg viewBox="0 0 48 48" class="icon">
          <use href="/public/icons.svg#phone" />
        </svg>
        { t("company.phone")}
      </a>
      <a href="mail:contact@ogor.ro" class="btn btn-text rounded">
        <svg viewBox="0 0 48 48" class="icon">
          <use href="/public/icons.svg#email" />
        </svg>
      </a>
    </p>
    <p>
      <a href={ import.meta.env.PUBLIC_OGOR_APP_LOGIN_URL } class="btn btn-black rounded">
        <svg class="icon">
          <use href="/logos/ogor.svg#logo" />
        </svg>
        <Fragment set:html={ t("home.cta") }/>
      </a>
    </p>
    <div class="assurances">
      <p>{ t("home.cta_assurance1") }</p>
      <span class="decoration">★</span>
      <p>{ t("home.cta_assurance2") }</p>
      <span class="decoration">★</span>
      <p>{ t("home.cta_assurance3") }</p>
    </div>
  </section>
  
  <section id="partners">
    <p>
      <strong>{ t("home.with_the_support_of") }:</strong>
      <br>
      <img src="/src/images/esa.png" alt="ESA" style="height: 3em; margin-right: 1em"/>
      <img src="/src/images/rosa.png" alt="ROSA" style="height: 5em"/>
    </p>
    <p>
      <strong>{ t('home.partners') }:</strong>
      <br>
      <img src="/src/images/Alcedo.svg" alt="Alcedo" style="height: 4em; margin-top: .5em">
    </p>
  </section>
</BaseLayout>


<script>
  const [cards, leftButton, rightButton, carousel] = [
    document.querySelectorAll('.card'),
    document.querySelector('.left') as HTMLButtonElement,
    document.querySelector('.right') as HTMLButtonElement,
    document.querySelector('.carousel') as HTMLElement
  ];
  const gap = 32;
  let currentCardIndex = 0;
  let cardWidth = cards[0].getBoundingClientRect().width;
  let maxCardOffset = 1;

  const updateMaxCardOffset = () => {
    maxCardOffset = window.innerWidth > 800 ? 2 : 1;
    if (window.innerWidth > 800 && currentCardIndex >= cards.length - 1) {
      currentCardIndex = cards.length - 2;
    }
  };
  const updateButtons = () => {
    leftButton.disabled = currentCardIndex <= 0;
    rightButton.disabled = currentCardIndex >= cards.length - maxCardOffset;
  };
  const updateCarousel = (direction: string) => {
    currentCardIndex += direction === 'left' ? -1 : 1;
    carousel.style.transform = `translateX(${-(cardWidth + gap) * currentCardIndex}px)`;
    updateButtons();
  };

  window.onload = () => {
    updateMaxCardOffset();
    updateButtons();
  };
  window.addEventListener('resize', () => {
    cardWidth = cards[0].getBoundingClientRect().width;
    carousel.style.transform = `translateX(${-(cardWidth + gap) * currentCardIndex}px)`;
    updateMaxCardOffset();
    updateButtons();
  });

  leftButton?.addEventListener('click', () => currentCardIndex > 0 && updateCarousel('left'));
  rightButton?.addEventListener('click', () => currentCardIndex < cards.length - maxCardOffset && updateCarousel('right'));
</script>

<style is:inline>
  #hero {
    background-color: var(--brand-yellow-6);

    /* Layout */
    ._body   { grid-area: body; }
    ._media1 { grid-area: media1;}
    ._media2 { grid-area: media2;}
    ._cta    { grid-area: cta; }

    img { width: 100%; }

    ._body {
      padding: 2em;
      line-height: 1.5;
      background: var(--brand-yellow-6);
      color: var(--action-color);
    }
    
    ._media1 {
      max-width: 90em;
      margin-left: auto;
      background-color: #F6F8F4;
      padding: 2em;
      img { 
        height: 240px;
        object-fit: contain;
      }
    }
    ._media2 {
       max-width: 90em;
       img { object-fit: cover; height: 100%; }
    }

    ._cta {
      background-color: var(--brand-orange);
      width: fit-content;
      margin-left: 24px;
      padding: 16px 24px;
      a{color: white;}
    }

    /* Different devices */
    @media (min-width: 800px) {
      background-color: var(--brand-yellow-5) ;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto 1fr auto;
      grid-template-areas: 
        "body   body"
        "media1 media2"
        "cta cta"
      ;
      ._cta {
        width: 100%;
        margin-left: 0;
        min-height: 8em;
        box-sizing: border-box;
      }
      ._media1 { img { height: max-content; } }
    }
    @media (min-width: 1200px) {
      grid-template-columns: var(--bleed) 1fr 1fr var(--bleed);
      grid-template-rows: 1fr 0.5fr 1fr;
      grid-template-areas: 
        ". body   media2 media2"
        "media1 media1 media2 media2"
        "media1 media1 cta    ."
      ;
      min-height: 20em;
    }

    ._body   { grid-area: body; }
    ._media1 { grid-area: media1; }
    ._media2 { grid-area: media2; }
    ._cta    { grid-area: cta; }
  }


  
  #features {
  background-color: #CCE6CA;
  padding-top: 2em;
  line-height: 1.5;
  
  h2 { padding: 0 2rem; }
  img { width: 100%; display: block; max-width: 16em; }

  & section {
    padding: 2em;
    grid-template-columns: subgrid;
    counter-increment: features;
    border-bottom: 1px solid black;
    p { margin-top: 0; }
  }

  & section h3::before {
    color: brown;
    display: block;
    margin-bottom: 1em;
  }
  
  & section h3::before, h2 { color: #C58336; }
  
  .feature-1 { padding-top: 0; }

  .context {
      padding: 2em;
      text-align: center;
      background-color: hsla(44, 100%, 89%, 0.3);
      p {
        max-width: 55ch;
        grid-column: 1/5;
        margin: auto;
      }
    }
  
  .plus {
    font-size: 125%;
    font-weight: 700;
    border-bottom: 0;
    img{ width: fit-content; }
    p { color: #B36E1F; }

    details {
        margin-bottom: 1.5em;
        height: 3em;
        img {
          height: 3em;
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15);
          border-radius: 4px;
        }

        summary {
          gap: 1em;
          height: 100%;
          font-weight: 550;
          p {
            color: black;
            width: 100%;
            height: 100%;
            margin: 0;
            border-bottom: 3px dotted black;
          }
        }
    }
    
    details:last-of-type summary p {
        border: none;
    }
  }

  @media (min-width: 800px) {
    padding: 0;
    padding-top: 3em;
    display: grid;
    grid-template-columns: var(--bleed) 1fr 1fr var(--bleed);

    h2 {
      text-align: center;
      grid-column: 2 / 4;
      max-width: 60ch;
      margin: auto;
    }

    h3 { font-size: 150%; }

    & section {
      padding-top: 4em;
      padding-bottom: 0;
      display: grid;
      grid-template-rows: 1fr;
      grid-column: 1/5;
      column-gap: 2em;
      border-bottom: 1px solid black;
      
      img { max-width: 100%; }
      h3 { margin-top: 0; }
      p { max-width: 60ch; }

      .feature-content { grid-column: 2/3; padding: 2em 0; }
      ._media { grid-row: 1/3; display: flex; align-items: center; }
    }
    
    .introduction { grid-column: 2/4; }

    .feature-1 {
      padding-top: 0;
      text-align: center;
      .feature-content { grid-column: 2/4; p { margin: auto; } }
      ._media { grid-column: 2/4; grid-row: 2/3; }
    }

    .feature-2 { ._media { grid-column: 3; } }
    .feature-3 { ._media { grid-column: 2; } .feature-content { grid-column: 3; } }
    .feature-4 { ._media { grid-column: 3; } }

    .plus {
      grid-column: 2/4;
      grid-template-columns: subgrid;
      padding-bottom: 0;

      p { grid-column: 1/-1; margin-bottom: 1em; }
      details:nth-last-of-type(2) summary p { border: none; }

    }

    & section:nth-of-type(1) h3::before { content: "⏺"; }
    & section:nth-of-type(2) h3::before { content: "⏺ ⏺"; }
    & section:nth-of-type(4) h3::before { content: "⏺ ⏺ ⏺"; }
    & section:nth-of-type(5) h3::before { content: "⏺ ⏺ ⏺ ⏺"; }
    
    & section h3::before {
      margin-bottom: 1rem;
      content: counter(features);
    }

  }
}

  #testimonials {
    background-color: #F6F8F4;
    padding: 2em 2em 4em 2em;
    line-height: 1.5;

    .carousel-container { position: relative; }

    .carousel {
      /* Gap must be in px for carousel to work properly */
      gap: 32px;
      padding: 2em 0;
      transition: transform 0.3s ease-in-out;
      position: relative;

      .card {
        min-height: 7em;
        min-width: calc(100% - 3em);
        background-color: white;
        padding: 1.5em;
        border-radius: 8px;
        box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.25);

        blockquote {
          display: flex; 
          flex-direction: column;
          height: 100%; 
          margin: 0;
          cite{font-size: 16px}
        }

        p { margin: 0; flex: 1; max-width: 40ch; margin-bottom: 1em; }
      }
    }

    .buttons-container {
      position: absolute;
      background-color: white;
      bottom: -10%;
      box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
      border-radius: 8px;
      overflow: hidden;
      right: 50%;
      transform: translateX(50%);

      button {
        border: none;
        margin: 0;
        padding: 0.25em 0.5em;
        background-color: transparent;
        transition: all 0.1s;

        &:hover { background-color: #F6F8F4; }
        &:disabled { background-color: inherit; }
      }
    }

    @media (min-width: 800px) {
      padding: 2em 2em 4em 2em;

      .carousel .card { min-width: calc(50% - 74px); }
    }

    @media (min-width: 1200px) {
      padding: 2em var(--bleed) 4em var(--bleed);
      .testimonials-inner { margin: 0 2em; }

      .carousel .card { min-width: calc(50% - 88px); }

      .buttons-container {
        display: flex;
        bottom: 100%;
        right: 0;
        transform: translateX(0);
      }
    }
  }

  #cta {
    --paper: #FFF0C6;
    padding: 2em;
    text-align: center;
    background: #FFF0C6;

    & p {
      margin-inline: auto;
      max-width: 40em;
    }

    .btn-text {
      --bg: var(--action-bg);
    }

    .btn-black { padding-inline: 1em; }
    .btn-black .icon {
      width: 1.5em;
      height: 1.5em;
      margin: -.25em;
      margin-inline-end: -.125em;
    }

    .assurances {
      max-width: var(--container);
      margin-inline: auto;
      font-stretch: semi-condensed;
      
      @media (min-width: 40rem) {
        display: flex;
        gap: 1em;
        flex-direction: row;
      }
    }
    .decoration {
      align-self: center;
      color: hsla(197, 83%, 61%, 1);
    }
  }

  #partners {
    background-color: #000;
    color: white;
    text-align: center;
    padding: 2em;
    & p {
      display: inline-block;
      max-width: calc(var(--container) / 2);
      width: 45%;
      min-width: fit-content;
      vertical-align: top;
    }
    img {
      vertical-align: middle;
    }
    strong {
      display: inline-block;
      margin-bottom: 1em;
    }
  }

  @media (min-width: 800px) {
  .features::after {
    content: "";
    grid-column: 3/-1;
    height: 2rem;
    background-color: hsla(32, 57%, 49%, 0.5);
  }
}

</style>
<!-- i could use urls with diacritics that also create pages without -->