---
import { useI18n } from "@/i18n"

const { t } = useI18n(Astro.currentLocale)

const social = [
  {
    name: "Facebook",
    url: "https://www.facebook.com/ogor.ro",
    icon: "/icon_facebook.svg",
  },
  {
    name: "YouTube",
    url: "https://www.youtube.com/channel/UCyJXrLqqYUTwTaEC2FtKUDg",
    icon: "/icon_facebook.svg",
    // icon: "",
  },
  {
    name: "LinkedIn",
    url: "https://www.linkedin.com/company/ogor/",
    icon: "/icon_facebook.svg",
    // icon: "",
  }
]
---


<footer>
  <a href="/">
    <svg viewBox="0 0 960 384" height="64" >
      <use href="/logos/ogor.svg#logo" width="384" />
      <use href="/logos/ogor.svg#logotype" x="320" y="64" />
    </svg>
  </a>

  <h4>{ t("company.tagline") }</h4>
  <p>{ t("company.description") }</p>


  <div>
    <a href="https://anpc.ro/" rel="external nofollow">ANPC</a>
    <a href="/legal#terms">{t("legal.terms")}</a>
    <a href="/legal#privacy">{t("legal.privacy")}</a>
    <a href="/legal#cookie">{t("legal.cookie")}</a>
  </div>

  <div>
    { social.map(platform => 
      <a href={ platform.url } title={ platform.name } rel="external">
        <img src={ platform.icon } alt="Icon">
        { platform.name } 
      </a> 
    )} 
  </div>

  <div>


    <address>
      { t("company.name") } <br>
      { t("company.cui") }  <br>
      { t("company.address") }
    </address>

    <a href={"mailto:" + t("company.email")}>{t("company.email")}</a>
    {/* TODO: add a phone format to i18next */}
    <a href={"tel:" + t("company.phone").replaceAll(/[^+|^0-9.]/g, "")}>{t("company.phone")}</a>
  </div>
</footer>
  


<!-- Social media links -->


<!-- Impressum -->


<style>
  footer {
    padding: 2rem;
    background: lavender;
  }
</style>