---
import { t } from "i18next";

const { getUrl } = Astro.locals

const social = [
  {
    name: "Facebook",
    url: "https://www.facebook.com/ogor.ro",
    icon: "/icons.svg#facebook",
  },
  {
    name: "YouTube",
    url: "https://www.youtube.com/channel/UCyJXrLqqYUTwTaEC2FtKUDg",
    icon: "/icons.svg#youtube",
  },
  {
    name: "LinkedIn",
    url: "https://www.linkedin.com/company/ogor/",
    icon: "/icons.svg#linkedin",
  },
];
---

<footer>
  <a href="/" class="ogor-logo">
    <svg viewBox="0 0 960 384" height="64">
      <use href="/logos/ogor.svg#logo" width="384"></use>
      <use href="/logos/ogor.svg#logotype" x="320" y="64"></use>
    </svg>
  </a>

  <div class="about">
    <h4>{t("company.tagline")}</h4>
    <p>{t("company.description")}</p>
  </div>

  <div class="contact">
    <a href={"tel:" + t("company.phone").replaceAll(/[^+|^0-9.]/g, "")} class="no-wrap">
      <svg viewBox="0 0 48 48" class="icon">
        <use href="/icons.svg#phone" />
      </svg>
      <span class="underline">{t("company.phone")}</span>
    </a>
    <a href={"mailto:" + t("company.email")} class="no-wrap">
      <svg viewBox="0 0 48 48" class="icon">
        <use href="/icons.svg#email" />
      </svg>
      <span class="underline">{t("company.email")}</span>
    </a>
    <span class="social-media t:contents">
      {
        social.map((platform) => (
          <a href={platform.url} title={platform.name} rel="external">
            <svg class="icon" viewBox="0 0 48 48" style="font-size: 200%;">
              <use href={ platform.icon }/>
            </svg>
          </a>
        ))
      }
    </span>
  </div>

  <hr />

  <ul class="nav font-semibold">
    <li><a href={ getUrl("company") }>{ t("nav.company_long") }</a></li>
    <li><a href={ getUrl("company", "#products") }>{ t("nav.products_long") }</a></li>
    <!-- <li><a href={ getUrl("updates") }>{ t("nav.updates_long") }</a></li> -->
    <li><a href={ import.meta.env.PUBLIC_OGOR_APP_LOGIN_URL }>{t("create_account_ogor")} →</a></li>
  </ul>

  <ul class="legal">
    <li><a href="https://anpc.ro/" rel="external nofollow">ANPC</a></li>
    <li><a href={ getUrl("legal", "#generaltos_terms") }>{t("legal.terms")}</a></li>
    <li><a href={ getUrl("legal", "#privacy_terms" )}>{t("legal.privacy")}</a></li>
    <li><a href={ getUrl("legal", "#cookie_terms" )}>{t("legal.cookie")}</a></li>
  </ul>

  <address>
    {t("company.name")} <br />
    {t("company.cui")}  <br />
    {t("company.address")}
  </address>
</footer>

<style is:global>
  @reference "@/styles/global.css";

  @layer reset {
    footer a {
      color: inherit;
    }
    .contact a {
      text-decoration: none;
    }
  }
  footer {
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--gutter);
    row-gap: 0;
    padding-block: 2rem;
    padding-inline: var(--bleed);
    background: #b7e4fb;

    @media (width >= theme(--breakpoint-tl)) {
      display: grid;
      grid-template-areas: 
        "contact contact contact"
        "about   about   about  "
        "nav     legal   address"
      ;
    }
    & ul {
      padding-inline-start: 1.5rem;
    }
    & address {
      margin-block: 1em;
    }
  }
  
  .ogor-logo{ grid-area: contact; }
  .contact  { grid-area: contact; }
  .about    { grid-area: about; }
  .nav      { grid-area: nav; }
  .legal    { grid-area: legal; }
  address   { grid-area: address; }

  .ogor-logo {
    display: inline-block;
    align-self: center;
    justify-self: flex-start;
    z-index: 10;

    & svg {
      display: block;
      margin-left: -.5em;
    }
  }
  .contact {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-self: flex-end;
    gap: 1em;
  }
  .social-media {
    word-spacing: .5em;
  }
  @media (width < theme(--breakpoint-tl)) {
    .contact {
      margin-block: 1em;
    }
  }
  @media (width >= theme(--breakpoint-tl)) {
    .legal {
      list-style: none;
      text-align: right;
      padding: 0;
    }
  }
  hr {
    border: none;
    border-top: .25rem dotted #4BBFEE;
  }
  .about {
    & :where(h2, h3, h4, p) {
      max-width: 72ch;
    }
  }
</style>
