---
import { t } from "i18next";
---

<section class="forecast-sponsors">
  <div class="logos">
    <img src="/logos/esa-blue.png" alt="ESA">
    <img src="/logos/rosa.png" alt="ROSA" id="rosa">
    <img src="/logos/apia.png" alt="APIA">
    <img src="/logos/openweather.png" alt="Openweather">
  </div>
  <p set:html={t("yield_forecast.ogorForecastProject")} />
</section>


<style>
  .forecast-sponsors{
    background: hsla(90, 22%, 96%, 1);
    padding: 4em var(--bleed);
  }

  a  { color: black; }
  em { font-style: normal; text-decoration: underline;}
  p  { max-width: 72ch; }
  
  .logos {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 2em;
    margin-bottom: 2em;
  }
  
  #rosa { height: 4.5em; }
</style>

