---
// import { ClientRouter } from 'astro:transitions';
import "@/styles/global.css" // Make sure it's above other components that use style, e.g. Navbar
import { PUBLIC_TRACKING_ENABLED } from "astro:env/client"
import { t } from "i18next"
import NavbarAnonymous from "@/components/NavbarAnonymous.astro"
import Footer from "@/components/Footer.astro"
import { getUrl, locales } from "@/i18n"

const { key } = Astro.locals;
---

<!doctype html>
<html lang={ Astro.currentLocale || "ro" }>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />

    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon16px.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon32px.png" />

    <!-- SEO stuff -->
    <title>{(Astro.props.title || t("meta.title")) + " | OGOR"}</title>
    <meta property="og:title" content={(Astro.props.title || t("meta.title")) + " | OGOR"} />
    <meta property="og:image" content={ Astro.props.og_image || "/og_image.png" } />
    <meta property="og:description" content={Astro.props.description || t("meta.description")} />
    <meta name="description" content={Astro.props.description || t("meta.description")} />
    <meta property="og:url" content={Astro.url} />

    <slot name="hreflangs">
      {	
        /** @see https://developers.google.com/search/docs/specialty/international/localized-versions#all-method-guidelines */
        locales.map(lang => {
          return <link rel="alternate" hreflang={lang} href={ getUrl(lang, key) } />
        })
      }
      <link rel="alternate" hreflang="x-default" href={ getUrl(undefined, key) } />
    </slot>

    { PUBLIC_TRACKING_ENABLED && (
      <script>
        if (!document.getElementById("umami-script")) {
          const script = document.createElement("script");
          script.id = "umami-script";
          script.setAttribute("data-website-id", "e276f75b-a362-4278-a43f-de918ff8d2a7");
          script.src = "https://cloud.umami.is/script.js";
          document.body.appendChild(script);
        }
      </script>
    )}

    <!-- <ClientRouter /> -->
  </head>
  <body>
    <div id="viewport">
      <NavbarAnonymous />
      <div id="content">
        <slot />
      </div>
    </div>
    <slot name="footer">
      <Footer />
    </slot>
  </body>
</html>
