---
import BaseLayout from "./BaseLayout.astro";
---
<BaseLayout>
  <aside>
    <nav>
      <ul>
        <li>nav list</li>
      </ul>
    </nav>
  </aside>
  <main>
    <slot />
  </main>
</BaseLayout>